{% extends 'base.html' %}

{% block title %}
<title>O nama</title>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col">
        <h4>Ovaj portal donosi vesti i informacije o događajima širom Srbije.<br>
            Pišemo o manifestacijama, zabavi, modi, turizmu, ekologiji, muzici, blogujemo…<br>
            „Špijuniramo“ druge gradove i mesta u Srbiji, regionu, Evropi, prenosimo šta drugi zanimljivo pišu, servisne informacije<br>

            Pogledajte na portalu zanimljive muzičke video spotove, fotografije, promocije…<br>
            Pronađite lako sve o festivalima, sajmovima, pozorištima, bioskopima.<br>
            Portal je namenjen svim uzrastima i svim prolaznicima, turistima i onima koji vole Srbiju.<br>
            Predstavljamo zemlju u punom sjaju!</h4>
    </div>
</div>
{% endblock %}