{% extends 'base.html' %}

{% block title %}
Dogadjaji
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{% url "create" %}">Kreiraj novi dogadjaj</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>event_name</th>
                    <th>text</th>
                    <th>type</th>
                    <th>place</th>
                    <th>time</th>
                    <th>age</th>
                    <th>space_characteristics</th>
                    <th>date_published</th>
                    <th>expiration_date</th>
                    <th>author</th>
                    <th>archive</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ events.event_name }}</td>
                    <td>{{ events.text }}</td>
                    <td>{{ events.type }}</td>
                    <td>{{ events.place }}</td>
                    <td>{{ events.time }}</td>
                    <td>{{ events.age }}</td>
                    <td>{{ events.space_characteristics }}</td>
                    <td>{{ events.date_published }}</td>
                    <td>{{ events.expiration_date }}</td>
                    <td>{{ events.author }}</td>
                    <td><a class="btn btn-primary" href="index.html">Arhiviraj</a>{{ events.archive }}</td>
                    <td><a class="btn btn-secondary" href="index.html">Obrisi</a>{{ events.delete }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}