{% extends 'base.html' %}
{% block title %}
<title>Ankete</title>
{% endblock %}

{% block body %}
<div class="row-mg-2">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Aktuelne ankete</h3>
            </div>
            <br>

            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong class='nav justify-content-left'>{{ poll.question }}</strong>

                    <span class="nav justify-content-end">
                        <a href="{% url 'polls:vote' poll.id %}" class="btn btn-info btn-xs">Glasaj</a> &nbsp;
                    </span>
                    <span class="nav justify-content-end fs-2">
                    <a href="{% url 'polls:results' poll.id %}" class="link-primary">Vidi rezultate</a> &nbsp;
                    </span>
                </li><br>
                {% endfor %}
            </ul>
            <br>
            {% if user.profile.city or user.is_superuser %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'polls:create' %}">Kreiraj anketu</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}