{% extends 'base.html' %}
{% block title %}
<title>Izmeni oglas</title>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col">
    <form method="post" action="{% url 'adverts:edit' %}">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ id }}"/>
      {% for field in form %}
      <label class="form-label pt-2" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
      <div class="text-danger">
        {{ field.errors }}
      </div>
      {% endfor %}
      <br>
      <input type="submit" class="btn btn-warning" value="Save"/>
    </form>
  </div>
</div>

{% endblock %}