{% extends 'index-admin.html' %}

{% block title %}
<title>Kategorije za vesti</title>
{% endblock %}

{% block second_body %}
<div class="row parent mt-3">
    <div class="col-6 child" >
        <h1>Ažuriraj kategorije za vesti</h1>
            <form action="{% url 'categories-news' %}">
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label" id="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                <div>
                    <input type="submit" class="btn btn-dark rounded-pill" value="Pretraži"/>
                </div>
                {% endfor %}
            </form>
    </div>
</div>
<div class="row mb-3">
    <a class="btn btn-dark rounded-pill" href="{% url 'categories-news-new' %}">Dodaj novu stavku</a>
</div>
<div class="row">
    <div class="col" style = "height: 300px;overflow: auto;">
        <table class="table">
            <thead>
            <th>ID</th>
            <th>Ime</th>
            <th>Važi od</th>
            <th>Važi do</th>
            <th></th>
            </thead>
            <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.Name }}</td>
                <td>{{ category.valid_from }}</td>
                <td>{{ category.valid_to }}</td>
                <td>
                    <a class="btn btn-dark rounded-pill" href="{% url 'categories-news-edit' %}?id={{ category.id }}">Ažuriraj</a>
                    <a class="btn btn-dark rounded-pill" href="{% url 'categories-news-delete' %}?id={{ category.id }}">Obriši</a>
                    <!-- opcija delete nije namestena -->
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}