{% extends 'base.html' %}

{% block title %}
<title>Ažuriraj šifarnik</title>
{% endblock %}

{% block body %}
<div class="row mt-3">
    <div class="col-12">
        <a class="btn btn-dark rounded-pill" href="{% url 'categories-events' %}">Šifarnik kategorija događaja</a>
        <a class="btn btn-dark rounded-pill" href="{% url 'categories-news' %}">Šifarnik kategorija vesti</a>
        <a class="btn btn-dark rounded-pill" href="{% url 'workareas' %}?id={{ work_area.id }}">Šifarnik oblasti delovanja</a>
        <a class="btn btn-dark rounded-pill" href="{% url 'spacecharacteristics' %}?id={{ space_characteristics.id }}">Šifarnik karakteristika prostora</a>

    </div>
</div>
{% endblock %}

