{% extends 'index-admin.html' %}

{% block title %}
<title>Ažuriraj kategoriju</title>
{% endblock %}

{% block second_body %}
<div class="row parent mt-3">
    <div class="col-6 child">
            <form action="{% url 'workareas-edit' %}" method="post">
                {% for field in form %}
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}">
                <div class="mb-3">
                    <label class="form-label" id="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-dark rounded-pill" value="Ažuriraj"/>
            </form>
    </div>
</div>
{% endblock %}